<!DOCTYPE html>
<html lang="en">
<head>
</head>
<link rel="stylesheet" type="text/css" href='{{ url_for('static',filename='styles2.css') }}'>
<body>

<div class="hero-image">
    <div class="hero-text">
        <h1>The Mushroom Database</h1>
    </div>
</div>

<ul class="nav_bar">
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('homepage') }}">Home</a></li>
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('database') }}">Database</a></li>
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('blast') }}">BLAST</a></li>
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('about') }}">About</a></li>
</ul>


<div style="padding-top: 5%; padding-bottom: 5%;">
    <form method="post" id="rcorner" class="center">
        <div class="parameters" style="vertical-align: top">
            <!-- maakt al de checkerboxen met parameters -->
            <h2>
                zoek opties:
            </h2>
            <label class="checkbox">description
                <input type="checkbox" name="search_in" value="description" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">accessiecode ncbi
                <input type="checkbox" name="search_in" value="accessiecode_ncbi">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">header aangeleverde data
                <input type="checkbox" name="search_in" value="aangeleverdedata_gekregenheader">
                <span class="checkmark"></span>
            </label>
            <input class="search" name="zoekterm" type="text" placeholder="typ hier je zoekterm...">
            <input class="search_button" type="submit" value="zoek!">
        </div>
        <div class="parameters">
            <h2>
                Visualisatie-opties:
            </h2>

            <label class="checkbox">accessiecode ncbi
                <input type="checkbox" name="show" value="accessiecode_ncbi" checked>
                <span class="checkmark"></span>
            </label>

            <label class="checkbox">description
                <input type="checkbox" name="show" value="description" checked>
                <span class="checkmark"></span>
            </label>

            <label class="checkbox">e-value
                <input type="checkbox" name="show" value="e_value" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">score
                <input type="checkbox" name="show" value="score" checked>
                <span class="checkmark"></span>
            </label>

            <label class="checkbox">identities
                <input type="checkbox" name="show" value="identities" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="parameters">
            <label class="checkbox">gaps
                <input type="checkbox" name="show" value="gaps">
                <span class="checkmark"></span>
            </label>

            <label class="checkbox">lengte alignment
                <input type="checkbox" name="show" value="lengte_alignment">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">query coverage
                <input type="checkbox" name="show" value="aangeleverdedata_gekregenheader">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">taxonomy level
                <input type="checkbox" name="show" value="taxonomy_level">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">header aangeleverde data
                <input type="checkbox" name="show" value="aangeleverdedata_gekregenheader">
                <span class="checkmark"></span>
            </label>
        </div>
    </form>
</div>

<table class="center_tb_results" >
    <tr id="thick_border">
        {% for item in titel_tabel %}
            <td id="thick_border"> {{ item }} </td>
        {% endfor %}
    </tr>
    {% for row in resultaat %}
        <tr class="zebra" id="thick_border">
            {% for item in row %}
                <td id="thick_border">{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>