<!--
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image
https://www.w3schools.com/css/css_navbar.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar
-->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<link rel="stylesheet" type="text/css" href='{{ url_for('static',filename='styles2.css') }}'>
<body>

<div class="hero-image">
    <div class="hero-text">
        <h1>The Mushroom Database</h1>
    </div>
</div>

<ul class="nav_bar">
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('homepage') }}">Home</a></li>
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('database') }}">Database</a></li>
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('blast') }}">BLAST</a></li>
    <li class="li_nav_bar"><a class="li_a_nav_bar" href="{{ url_for('about') }}">About</a></li>
</ul>


<div class="center">
    <h1>
        Welkom op The Mushroom Database!
    </h1>
    <P class="tab">
       Deze website is het resultaat van een door ons uitgevoerd onderzoek. Graag leiden wij u kort en bondig door het
        desbetreffende onderzoeksproces heen, zodat u een beter beeld krijgt van wat er precies aan deze website vooraf
        is gegaan en wat voor functionaliteiten deze website voor u te bieden heeft.
    </P>
    <h4>
        <B>Achtergrond</B>
    </h4>
    <P class="tab">
        Er is vernomen dat de oogst van champignons sterk kan variëren, wat een hinder blijkt te zijn voor de
        champignonteelt. Nu blijkt de samenstelling van de microflora in de gebruikte compost een grote invloed te
        hebben op de oogst. Door deze microflora te verbeteren, zal ook de oogst langzaamaan geoptimaliseerd kunnen
        worden. Om dit uiteindelijk te kunnen bereiken, zal eerst de huidige samenstelling van de microflora in compost
        duidelijk in kaart gebracht moeten worden. Dit is het punt van het onderzoek waar wij in het spel zijn gekomen.
        Voor ons onderdeel van het onderzoek hebben wij gebruik gemaakt van een dataset afkomstig van het HAN BioCentre
        en het bedrijf BaseClear. Deze bestond uit steeds twee reads van honderd stukken sequentie, afkomstig uit een
        compost-sample van de champignon Agaricus bisporus. Over deze tweehonderd reads hebben wij een BLAST-search
        uitgevoerd en de relevante output hiervan hebben wij opgeslagen in de vorm van een database. Deze database
        hebben wij ten slotte gekoppeld aan de website waarop u zich momenteel bevindt.
    </P>
    <h4>
        <b>Database</b>
    </h4>
    <p class="tab">
        De kern van deze website. De database bestaat uit de beste BLAST-resultaten, uitgevoerd met DNA-fragmenten
        uit
        een compost-sample voor de productie van de champignon Agaricus bisporus. Desbetreffende DNA-fragmenten zijn
        afkomstig van het bedrijf BaseClear, welke deze fragmenten heeft gesequenced met behulp van de Illumina
        MiSeq
        PE300 technologie als paired-end reads. Aan de hand van verschillende ingebouwde opties kan de database
        doorzocht worden. Experimenteer hier zeker mee!
    </p>
    <h4><b>Functie en doelgroep</b></h4>
    <p class="tab">
       Deze website geeft analisten de mogelijkheid om onze database op een overzichtelijke manier te bevragen en op
        deze manier een goed beeld te krijgen van de huidige samenstelling van de compost van de champignon Agaricus
        <i>bisporus.</i>
    </p>
    <p>Natuurlijk zijn daarnaast alle nieuwsgierige bezoekers van deze website van harte welkom om ook een kijkje te
        nemen
    </p>
    <br> <br>
    <h2>
        <b> Toelichting per pagina</b><br> <br>
    </h2>
    <div>
    <img src='{{ url_for('static',filename='home.png') }}' alt="home_icon" class="home_icons">
    <h4 class="title_home">Home </h4>
    </div>
    <p class="tab">
        U bevindt zich momenteel op de Home-pagina. Deze dient inhoudelijke informatie te verschaffen over de website
        en u hier wegwijs te maken.
    </p>
    <img src='{{ url_for('static',filename='databse.png') }}' alt="home_icon" class="home_icons">
    <h4 class="title_home">Database</h4>
    <p class="tab">
        De trots van deze website. De database bestaat uit een aantal van de beste BLAST-resultaten, uitgevoerd over
        DNA-fragmenten uit een compost-sample voor de productie van de champignon Agaricus bisporus. Desbetreffende
        DNA-fragmenten zijn afkomstig van het HAN BioCentre, welke deze fragmenten heeft laten sequencen door het
        bedrijf BaseClear met behulp van de Illumina MiSeq PE300 technologie als paired-end reads. Aan de hand van
        verschillende ingebouwde zoek- en visualisatie-opties kan de database doorzocht worden. Wij raden u aan om hier
        dan ook zeker gebruik van te maken!
    </p>
    <img src='{{ url_for('static',filename='blast.png') }}' alt="home_icon" class="home_icons">
    <h4 class="title_home">BLAST</h4>
    <p class="tab">
        Mocht u zelf een BLAST-search uit willen voeren, maak dan vooral gebruik van deze pagina!
    </p>
    <img src='{{ url_for('static',filename='about.png') }}' alt="home_icon" class="home_icons">
    <h4 class="title_home">About</h4>
    <P Class="tab">
        Hier wordt een overzichtelijke visualisatie van zowel het verrichte werk als de hiervoor verantwoordelijke
        personen gepresenteerd. Een kijkje achter de schermen dus!
    </P>
    <br> <br>




</div>

</body>
</html>